  * , html{box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    font-family: 'Ubuntu', sans-serif;}


 nav { 
  background: #222; 
  padding: 0px 20px;  
  width: 100%;
  position: fixed;} 
 nav a { color: white; text-decoration: none; } 
 nav a:hover{text-decoration:underline;}
 
 nav li.item:hover { 
  animation-fill-mode:inherit;

  -webkit-animation-name:heartBeat;
  animation-name:heartBeat;
  -webkit-animation-duration:1.3s;
  animation-duration:1.3s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out; 
 } 
 
 ul { list-style-type: none; } 
 .menu li { font-size: 16px; padding: 15px 5px; white-space: nowrap;color: white; } 
 .logo a:hover { text-decoration: none; } 
 .logo a { font-size: 20px; color: white;} 
 #logo {font-size: 50px;color: white;}
 .toggle a { font-size: 20px; padding: 15px 5px;} 


/* Celular menu por defecto */ 

/*NavBar*/
.menu { display: flex; flex-flow: column; justify-content: space-between; align-items: center; } 
.toggle { order: 1; } /* la idea es que se oculten todos los items y con un click en toogle luego mostrar los items */
.item { width: 100%; text-align: center; order: 2; }  /*por ahora los muestro*/

/*main*/

.header-img{
  
}

.header-img {
  padding-top:80px;
  padding-left: 200px;
  margin:auto;
  display:block;
}

.header-img img {
  width: 40%;
}

main{
  
  padding-left: 500px;
  
}

main section {
  align-self: auto;
  
}
main section article {
  padding-left: 180px ;
  padding-right: 180px ;
  text-align:left;
}

main h1 {
  text-align: center;
  font-size: xx-large;
}

main span{
  text-align: center;
  padding-left: 180px;
}

.flex-main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-left: 190px;
}

/*Footer*/
footer { background: #222; padding: 10px 20px; position: relative;}
footer a { color: white; text-decoration: none; } 
footer a:hover{ text-decoration: underline;}

/*ver para que quede lindo y como juega con el responsive*/
#volverArriba{
  display: none;
  text-align: center;
  text-decoration:none;
  padding-top: 22px;
  font-size: 0.1rm;
  width: 160px;
  height: 40px;
  background-image: url(/assets/back-to-top.png);
  margin-left: -80px;
  position: absolute;
  top: -37px;
  left: 50%;
  color:white;
  opacity: 95%;
  z-index: 9;
}
#volverArriba:hover{
  animation-fill-mode:inherit;
  -webkit-animation-name:heartBeat;
  animation-name:heartBeat;
  -webkit-animation-duration:1.3s;
  animation-duration:1.3s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
}

.enlace-social{
  font-size: 30px;
  margin: 1.5px;
}

.enlace-social > :hover{
  animation-fill-mode:inherit;
  -webkit-animation-name:heartBeat;
  animation-name:heartBeat;
  -webkit-animation-duration:1.3s;
  animation-duration:1.3s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
}

@keyframes heartBeat{

0%{-webkit-transform:scale(1);transform: scale(1);}

14%{-webkit-transform:scale(1.3);transform:scale(1.3);}

28%{-webkit-transform:scale(1);transform:scale(1);}

42%{-webkit-transform:scale(1.3);transform:scale(1.3);}

70%{-webkit-transform:scale(1); transform:scale(1);} 

}

.heartBeat{-webkit-animation-name:heartBeat;
  animation-name:heartBeat;
  -webkit-animation-duration:1.3s;
  animation-duration:1.3s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out}



footer ul { color: white; }
footer ul li { padding-top: 10px;
               padding-bottom: 10px;}
.div-footer{ 
  display: flex; 
  flex-wrap: wrap;
  flex-flow: column; 
  justify-content: space-between; 
  font-size: 20px; color: white;} 

.div-footer-izq {
  order: 0;
}
.div-footer-middle {
  order: 1;
  ;
}
.div-footer-der {
  order: 2;
}

/* Tablet menu */ @media all and (min-width: 600px) { 
  .menu { justify-content: flex-end; flex-direction: row; flex-wrap: wrap; } 
  .div-footer{ flex-flow: row; flex-wrap: wrap;}
  .logo { flex: 1; } 
  .toggle { flex: 1; text-align: right; display: none; } /*me gustaria que cuando algun elemento salte a la proxima linea, se esconda y con el click en toogle se muestre como dropdown */
  .item { width: auto; order: 1; display: block; } 
  .header-img img {
    width: 60%;
  }
 }

 

/* Desktop menu */ @media all and (min-width: 1024px) { 
.item { display: block; width: auto; } 
.toggle { display: none; } 
.logo { order: 0; } 
.item { order: 1; } 
.menu li { padding: 15px 10px; } 
.header-img img {
  width: 80%;
}
 }

main{
    padding-left:16px
}


